<div class="bottom-navigation">
  <ul>
    <li><a href="/"><i class="fas fa-home"></i> </a></li>
    <li><a href="/collections"><i class="fas fa-shopping-bag"></i> </a></li>
    <li><a href="/contact"><i class="fas fa-envelope"></i> </a></li>
    <li><a href="/about"><i class="fas fa-info-circle"></i></a></li>
    <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
  </ul>
</div>
