<div class="bottom-navigation">
  <ul>
    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="/collections"><i class="fas fa-shopping-bag"></i> Shop</a></li>
    <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
    <li><a href="/about"><i class="fas fa-info-circle"></i> About</a></li>
    <li><a href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
  </ul>
</div>
